body {
  background-image: url('c:/Users/user/Pictures/Saved Pictures/pngtree-simple-jobs-to-sum-up-business-image_20826.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
